In [1]:
#Standard imports 

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import json
import requests as r
%matplotlib inline

In [2]:
#Reference file path

file = '../Potential Datasets/gtd/globalterrorismdb_0617dist.csv'

In [30]:
#Read CSV into dataframe.  Forced encoding to 'cp1252 due to error.

df = pd.read_csv(file, encoding='cp1252', low_memory=False)

In [31]:
#Display all values of the columns in a list

df.columns.tolist()

['eventid',
 'iyear',
 'imonth',
 'iday',
 'approxdate',
 'extended',
 'resolution',
 'country',
 'country_txt',
 'region',
 'region_txt',
 'provstate',
 'city',
 'latitude',
 'longitude',
 'specificity',
 'vicinity',
 'location',
 'summary',
 'crit1',
 'crit2',
 'crit3',
 'doubtterr',
 'alternative',
 'alternative_txt',
 'multiple',
 'success',
 'suicide',
 'attacktype1',
 'attacktype1_txt',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targtype1',
 'targtype1_txt',
 'targsubtype1',
 'targsubtype1_txt',
 'corp1',
 'target1',
 'natlty1',
 'natlty1_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'gname',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'gsubname3',
 'motive',
 'guncertain1',
 'guncertain2',
 'guncertain3',
 'individual',
 'nperps',
 'nperpcap',
 'claimed',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weaptype1',
 'weaptype1_txt',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'weapdetail',
 'nkill',
 'nkillus',
 'nkillter',
 'nwound',
 'nwoundus',
 'nwoundte',
 'property',
 'propextent',
 'propextent_txt',
 'propvalue',
 'propcomment',
 'ishostkid',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransom',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite1',
 'scite2',
 'scite3',
 'dbsource',
 'INT_LOG',
 'INT_IDEO',
 'INT_MISC',
 'INT_ANY',
 'related']

In [32]:
#Select a portion of the columns and send them to a new dataframe

df = df[['iyear',
 'imonth',
 'iday',
 'country_txt',
 'region_txt',
 'city',
 'latitude',
 'longitude',
 'location',
 'success',
 'suicide',
 'attacktype1_txt',
 'targtype1_txt',
 'natlty1_txt',
 'gname',
 'weaptype1_txt',
 'nkill',
 'nwound']]

In [33]:
df.head(50)

,iyear,imonth,iday,country_txt,region_txt,city,latitude,longitude,location,success,suicide,attacktype1_txt,targtype1_txt,natlty1_txt,gname,weaptype1_txt,nkill,nwound
0,1970,7,2,Dominican Republic,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,NaN,1,0,Assassination,Private Citizens & Property,Dominican Republic,MANO-D,Unknown,1.0,0.0
1,1970,0,0,Mexico,North America,Mexico city,19.432608,-99.133207,NaN,1,0,Hostage Taking (Kidnapping),Government (Diplomatic),Belgium,23rd of September Communist League,Unknown,0.0,0.0
2,1970,1,0,Philippines,Southeast Asia,Unknown,15.478598,120.599741,NaN,1,0,Assassination,Journalists & Media,United States,Unknown,Unknown,1.0,0.0
3,1970,1,0,Greece,Western Europe,Athens,37.983773,23.728157,NaN,1,0,Bombing/Explosion,Government (Diplomatic),United States,Unknown,Explosives/Bombs/Dynamite,NaN,NaN
4,1970,1,0,Japan,East Asia,Fukouka,33.580412,130.396361,NaN,1,0,Facility/Infrastructure Attack,Government (Diplomatic),United States,Unknown,Incendiary,NaN,NaN
5,1970,1,1,United States,North America,Cairo,37.005105,-89.176269,NaN,1,0,Armed Assault,Police,United States,Black Nationalists,Firearms,0.0,0.0
6,1970,1,2,Uruguay,South America,Montevideo,-34.891151,-56.187214,NaN,0,0,Assassination,Police,Uruguay,Tupamaros (Uruguay),Firearms,0.0,0.0
7,1970,1,2,United States,North America,Oakland,37.805065,-122.273024,Edes Substation,1,0,Bombing/Explosion,Utilities,United States,Unknown,Explosives/Bombs/Dynamite,0.0,0.0
8,1970,1,2,United States,North America,Madison,43.076592,-89.412488,NaN,1,0,Facility/Infrastructure Attack,Military,United States,New Year's Gang,Incendiary,0.0,0.0
9,1970,1,3,United States,North America,Madison,43.072950,-89.386694,NaN,1,0,Facility/Infrastructure Attack,Government (General),United States,New Year's Gang,Incendiary,0.0,0.0
10,1970,1,1,United States,North America,Baraboo,43.468500,-89.744299,NaN,0,0,Bombing/Explosion,Military,United States,"Weather Underground, Weathermen",Explosives/Bombs/Dynamite,0.0,0.0
11,1970,1,6,United States,North America,Denver,39.740010,-104.992259,NaN,1,0,Facility/Infrastructure Attack,Military,United States,Left-Wing Militants,Incendiary,0.0,0.0
12,1970,1,8,Italy,Western Europe,Rome,41.890520,12.494249,NaN,1,0,Hijacking,Airports & Aircraft,United States,Unknown,Firearms,0.0,0.0
13,1970,1,9,United States,North America,Detroit,42.331685,-83.047924,NaN,1,0,Facility/Infrastructure Attack,Government (General),United States,Left-Wing Militants,Incendiary,0.0,0.0
14,1970,1,9,United States,North America,Rio Piedras,18.399712,-66.049987,Caparra Shopping Center,1,0,Facility/Infrastructure Attack,Business,United States,Armed Commandos of Liberation,Incendiary,0.0,0.0
15,1970,1,10,East Germany (GDR),Eastern Europe,East Berlin,52.516667,13.400000,NaN,1,0,Bombing/Explosion,Government (General),Germany,Commune 1,Explosives/Bombs/Dynamite,NaN,NaN
16,1970,1,11,Ethiopia,Sub-Saharan Africa,Unknown,NaN,NaN,NaN,1,0,Unknown,Military,United States,Eritrean Liberation Front,Unknown,1.0,0.0
17,1970,1,12,United States,North America,New York City,40.610069,-73.947971,Brooklyn,1,0,Bombing/Explosion,Educational Institution,United States,Black Nationalists,Explosives/Bombs/Dynamite,0.0,0.0
18,1970,1,12,United States,North America,Rio Grande,18.379998,-65.830948,NaN,1,0,Bombing/Explosion,Business,United States,Strikers,Explosives/Bombs/Dynamite,0.0,0.0
19,1970,1,13,United States,North America,Seattle,47.603560,-122.329439,NaN,1,0,Facility/Infrastructure Attack,Business,United States,Black Nationalists,Incendiary,0.0,0.0
20,1970,1,14,United States,North America,Champaign,40.116748,-88.239270,Champaign Police Department,1,0,Facility/Infrastructure Attack,Police,United States,Black Nationalists,Incendiary,0.0,1.0
21,1970,1,15,Uruguay,South America,Montevideo,-34.891151,-56.187214,NaN,1,0,Armed Assault,Educational Institution,Uruguay,Tupamaros (Uruguay),Firearms,0.0,0.0
22,1970,1,19,United States,North America,Seattle,47.610594,-122.317228,Seattle University,1,0,Bombing/Explosion,Educational Institution,United States,Black Nationalists,Explosives/Bombs/Dynamite,0.0,0.0
23,1970,1,19,United States,North America,Seattle,47.655335,-122.303520,NaN,0,0,Bombing/Explosion,Military,United States,Student Radicals,Explosives/Bombs/Dynamite,0.0,0.0
24,1970,1,19,United States,North America,Jersey City,40.728075,-74.077825,Front of building,1,0,Facility/Infrastructure Attack,Violent Political Party,United States,White extremists,Incendiary,0.0,0.0
25,1970,1,20,Guatemala,Central America & Caribbean,Guatemala City,14.624422,-90.532880,NaN,1,0,Assassination,Government (Diplomatic),Great Britain,Unknown,Unknown,1.0,0.0
26,1970,1,21,Philippines,Southeast Asia,Quezon City,14.677301,121.044348,NaN,1,0,Bombing/Explosion,Government (Diplomatic),United States,Unknown,Explosives/Bombs/Dynamite,0.0,0.0
27,1970,1,22,Venezuela,South America,Caracas,10.502961,-66.917253,NaN,1,0,Hostage Taking (Kidnapping),Business,Venezuela,Armed Forces of National Liberation- Venezuela...,Unknown,0.0,0.0
28,1970,1,22,United States,North America,South Sioux City,42.470310,-96.413949,NaN,1,0,Bombing/Explosion,Private Citizens & Property,United States,Strikers,Explosives/Bombs/Dynamite,0.0,0.0
29,1970,1,25,United States,North America,West Point,33.606510,-88.650419,NaN,1,0,Facility/Infrastructure Attack,Private Citizens & Property,United States,White extremists,Incendiary,0.0,0.0
30,1970,1,25,United States,North America,New York City,40.783060,-73.971249,Manhattan,1,0,Armed Assault,Police,United States,Black Nationalists,Firearms,0.0,2.0
31,1970,1,26,United States,North America,West Point,33.606510,-88.650419,NaN,1,0,Bombing/Explosion,Government (General),United States,Black Nationalists,Explosives/Bombs/Dynamite,0.0,0.0
32,1970,1,26,United States,North America,New York City,40.728224,-73.794852,Queens,1,0,Armed Assault,Police,United States,Black Nationalists,Firearms,0.0,0.0
33,1970,1,27,United States,North America,Norwalk,41.241996,-82.615241,NaN,1,0,Facility/Infrastructure Attack,Government (General),United States,Left-Wing Militants,Incendiary,0.0,0.0
34,1970,1,28,East Germany (GDR),Eastern Europe,East Berlin,52.516667,13.400000,NaN,1,0,Facility/Infrastructure Attack,Police,Germany,Unknown,Incendiary,NaN,NaN
35,1970,1,28,United States,North America,Seattle,47.603560,-122.329439,Front of building,1,0,Bombing/Explosion,Religious Figures/Institutions,United States,White extremists,Explosives/Bombs/Dynamite,0.0,0.0
36,1970,1,30,United States,North America,South Sioux City,42.479999,-96.413046,210 East 10 St.,1,0,Bombing/Explosion,Unknown,United States,Strikers,Explosives/Bombs/Dynamite,0.0,0.0
37,1970,1,30,United States,North America,South Sioux City,42.466340,-96.414050,2503 Dakota Ave.,1,0,Bombing/Explosion,Business,United States,Strikers,Explosives/Bombs/Dynamite,0.0,0.0
38,1970,1,30,United States,North America,Coral Gables,25.720851,-80.277857,NaN,1,0,Facility/Infrastructure Attack,Military,United States,Student Radicals,Incendiary,0.0,0.0
39,1970,1,31,Philippines,Southeast Asia,Bamban,15.675051,120.331618,NaN,0,0,Unknown,Military,United States,New People's Army (NPA),Unknown,0.0,1.0
40,1970,1,31,United States,North America,Denver,39.748783,-105.022136,2105 Decatur Street,1,0,Bombing/Explosion,Police,United States,Unknown,Explosives/Bombs/Dynamite,0.0,0.0
41,1970,2,1,United States,North America,Portland,45.511795,-122.675629,North Portland neighborhood,1,0,Facility/Infrastructure Attack,Government (General),United States,Left-Wing Militants,Incendiary,0.0,0.0
42,1970,2,1,United States,North America,Cairo,37.005105,-89.176269,Pyramid Courts,1,0,Armed Assault,Police,United States,Black Nationalists,Firearms,0.0,0.0
43,1970,2,2,United States,North America,New York City,40.783060,-73.971249,Manhattan,0,0,Facility/Infrastructure Attack,Business,United States,Unknown,Incendiary,0.0,0.0
44,1970,2,3,United States,North America,New York City,40.844782,-73.864827,The Bronx,0,0,Facility/Infrastructure Attack,Business,United States,Unknown,Incendiary,0.0,0.0
45,1970,2,3,United States,North America,New York City,40.783060,-73.971249,Manhattan,0,0,Facility/Infrastructure Attack,Business,United States,Unknown,Incendiary,0.0,0.0
46,1970,2,4,United States,North America,Akron,41.084195,-81.514059,Outside apartment complex,1,0,Bombing/Explosion,Private Citizens & Property,United States,Strikers,Explosives/Bombs/Dynamite,0.0,0.0
47,1970,2,6,United States,North America,Denver,39.740010,-104.992259,School Bus Parking Lot,1,0,Bombing/Explosion,Transportation,United States,Black Nationalists,Explosives/Bombs/Dynamite,0.0,0.0
48,1970,2,6,United States,North America,Seattle,47.608758,-122.329439,Central District,1,0,Bombing/Explosion,Government (General),United States,White extremists,Explosives/Bombs/Dynamite,0.0,0.0
49,1970,2,6,United States,North America,Seattle,47.603560,-122.329439,NaN,1,0,Bombing/Explosion,Religious Figures/Institutions,United States,White extremists,Explosives/Bombs/Dynamite,0.0,0.0

In [34]:
#Generate dictionary needed to rename columns

col_name = {'iyear': 'year',
 'imonth': 'month',
 'iday': 'day',
 'country_txt': 'country',
 'region_txt': 'region',
 'city': 'city',
 'latitude': 'latitude',
 'longitude': 'longitude',
 'location': 'location',
 'success': 'success',
 'suicide': 'sucide',
 'attacktype1_txt': 'type_of_attack',
 'targtype1_txt': 'type_of_target',
 'natlty1_txt': 'nationality',
 'gname': 'group_name',
 'weaptype1_txt': 'type_of_weapon',
 'nkill': 'num_killed',
 'nwound': 'num_wounded'}

In [63]:
#Rename columns based on dict and display head

df = df.rename(columns=col_name)
df.head()

df.to_csv('Saved Dataframes/GTD.csv')

In [9]:
df_country_attacks = df[['success', 'country','region']].groupby(['country','region'], as_index = False).count()
df_country_attacks = df_country_attacks.sort_values(by=['success'],ascending=False)
df_country_attacks.to_csv('Most Attacks by Country.csv')

In [10]:
#Determine the number of sucessful attacks by country

df_country_gb = df[['success', 'country','region']].groupby(['country','region'], as_index = False).sum()
df_country_gb.head()

       country                      region  success
0  Afghanistan                  South Asia    10023
1      Albania              Eastern Europe       63
2      Algeria  Middle East & North Africa     2554
3      Andorra              Western Europe        1
4       Angola          Sub-Saharan Africa      480

In [11]:
#Determine the number of sucessful attacks by country and display the top five.

sorted_country_success = df_country_gb.sort_values(by = ['success'], ascending = False)
sorted_country_success.to_csv('Successful Countries.csv')
df_attacks_success = pd.merge(sorted_country_success,df_country_attacks[['country','success']],on=['country'],how='outer')
df_attacks_success = df_attacks_success.rename(columns={'success_x':'Successful Attacks','success_y':'Total Attacks'})
df_attacks_success['Total Success Rate'] = df_attacks_success['Successful Attacks']/df_attacks_success['Total Attacks']
df_attacks_success.to_csv('Country Sort.csv')
df_attacks_success.head()

,country,region,Successful Attacks,Total Attacks,Total Success Rate
0,Iraq,Middle East & North Africa,20075,22130,0.907140
1,Pakistan,South Asia,12032,13634,0.882500
2,Afghanistan,South Asia,10023,11306,0.886520
3,India,South Asia,9480,10978,0.863545
4,Colombia,South America,7574,8163,0.927845

In [12]:
#Determine the number of sucessful attacks by country and display the bottom five.


df_country_gb.sort_values(by = ['success'], ascending = False).tail()

          country                 region  success
126  New Hebrides  Australasia & Oceania        1
131   North Korea              East Asia        1
24         Brunei         Southeast Asia        0
193  Vatican City         Western Europe        0
115     Mauritius             South Asia        0

In [13]:
#Determine the total number of attacks by type.

df[['type_of_attack', 'country']].groupby(['type_of_attack'], as_index =False).count()

                        type_of_attack  country
0                        Armed Assault    40223
1                        Assassination    18402
2                    Bombing/Explosion    83073
3       Facility/Infrastructure Attack     9581
4                            Hijacking      598
5  Hostage Taking (Barricade Incident)      902
6          Hostage Taking (Kidnapping)    10233
7                      Unarmed Assault      913
8                              Unknown     6425

In [14]:
#Select all rows that where the type_of_attack was a hijacking and send the data to a new dataframe


df_attack_type = df[df['type_of_attack'] == 'Hijacking']

#Show head of new dataframe
df_attack_type.head()

,year,month,day,country,region,city,latitude,longitude,location,success,sucide,type_of_attack,type_of_target,nationality,group_name,type_of_weapon,num_killed,num_wounded
12,1970,1,8,Italy,Western Europe,Rome,41.890520,12.494249,NaN,1,0,Hijacking,Airports & Aircraft,United States,Unknown,Firearms,0.0,0.0
135,1970,3,14,United States,North America,Long Beach,33.766725,-118.192399,Pacific Ocean,1,0,Hijacking,Military,United States,Left-Wing Militants,Fake Weapons,0.0,0.0
162,1970,3,31,Japan,East Asia,Fukouka,33.580412,130.396361,NaN,1,0,Hijacking,Airports & Aircraft,Japan,Japanese Red Army (JRA),Explosives/Bombs/Dynamite,0.0,0.0
379,1970,7,1,Brazil,South America,Rio de Janeiro,-22.908278,-43.197026,NaN,0,0,Hijacking,Airports & Aircraft,Brazil,Unknown,Unknown,0.0,0.0
421,1970,7,22,Greece,Western Europe,Athens,37.979180,23.716647,NaN,1,0,Hijacking,Airports & Aircraft,Greece,Arabs,Firearms,0.0,0.0

In [15]:
#Calculate the total number of attacks by region

df_region_gb = df[['region', 'success']].groupby(['region'], as_index = False).count()

In [16]:
df_region_gb.sort_values(by=['success'], ascending = False)

                         region  success
5    Middle East & North Africa    46511
8                    South Asia    41497
7                 South America    18762
11               Western Europe    16307
10           Sub-Saharan Africa    15491
9                Southeast Asia    11453
1   Central America & Caribbean    10340
4                Eastern Europe     5031
6                 North America     3346
3                     East Asia      794
2                  Central Asia      554
0         Australasia & Oceania      264

In [17]:
#Calculate the total number of attacks by year


df_year_gb = df[['year', 'success']].groupby(['year'], as_index = False).count()
df_year_gb.to_csv('Successes by Year')
df_year_gb.sort_values(by=['success'], ascending = False)

    year  success
43  2014    16860
44  2015    14852
45  2016    13488
42  2013    11996
41  2012     8500
22  1992     5073
40  2011     5071
39  2010     4822
37  2008     4803
38  2009     4719
21  1991     4683
19  1989     4323
20  1990     3887
18  1988     3720
14  1984     3495
23  1994     3458
36  2007     3241
26  1997     3200
17  1987     3184
24  1995     3081
25  1996     3056
15  1985     2915
13  1983     2870
16  1986     2860
35  2006     2749
10  1980     2662
9   1979     2661
11  1981     2585
12  1982     2545
34  2005     2009
30  2001     1907
29  2000     1813
8   1978     1526
28  1999     1395
31  2002     1332
7   1977     1319
32  2003     1262
33  2004     1162
27  1998      933
6   1976      923
5   1975      740
0   1970      651
4   1974      580
2   1972      496
3   1973      473
1   1971      470

In [18]:
#Calculate the total number of attacks by month

df_month_gb = df[['month', 'success']].groupby(['month'], as_index = False).count()

In [19]:
df_month_gb.to_csv('Success by Month')
df_month_gb.sort_values(by=['success'], ascending = False)

    month  success
5       5    15771
7       7    15247
8       8    14802
10     10    14728
3       3    14284
6       6    14258
4       4    14213
11     11    14064
1       1    14036
9       9    13246
2       2    12975
12     12    12706
0       0       20

In [20]:
#World bank call for the GDP value for Turkey in 2016
#For each country we are going to need the country code (ISO) and the year. 
#Once we have the year and the code, we'll need to build the query URLs to make the API calls to return the GDP values.
#https://datahelpdesk.worldbank.org/knowledgebase/articles/898581-api-basic-call-structure
#https://www.wikiwand.com/en/ISO_3166-1_alpha-2

#URL obtained from: https://datahelpdesk.worldbank.org/knowledgebase/articles/898581-api-basic-call-structure
url = 'http://api.worldbank.org/v2/countries/jp/indicators/NY.GDP.MKTP.CD?date=2016&format=json'

In [21]:
response = r.get(url).json()
response

[{'lastupdated': '2018-01-19',
  'page': 1,
  'pages': 1,
  'per_page': 50,
  'total': 1},
 [{'country': {'id': 'JP', 'value': 'Japan'},
   'countryiso3code': 'JPN',
   'date': '2016',
   'decimal': 0,
   'indicator': {'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (current US$)'},
   'obs_status': '',
   'unit': '',
   'value': 4940158776617.16}]]

In [22]:
response[1][0]['country']['value']

'Japan'

In [23]:
response[1][0]['date']

'2016'

In [24]:
response[1][0]['indicator']['value']

'GDP (current US$)'

In [25]:
response[1][0]['value']

4940158776617.16

In [26]:
#ahmed-grouped by country and year, then merged gdp data
gdp_file = "data/gdp_data.csv"
gdp_df = pd.read_csv(gdp_file, encoding='cp1252', low_memory=False)
gdp_df = gdp_df.rename(columns={'country_name': 'country','gdp_year': 'year'})
gdp_success = df[['success', 'country','year']].groupby(['country','year'], as_index = False).sum()
merged_gdp = pd.merge(gdp_success, gdp_df, on=["country","year"])
merged_gdp.to_csv('GDP_vs_Success.csv')

In [50]:
df_successrate = df[['country','region','year','success','month']].groupby(['country','year','region','success','month']).count()
df_successrate = df_successrate.reset_index()

df_successrate = df_successrate.rename(columns={'month':'num_attacks'})
df_successrate

           country  year              region  success  num_attacks
0      Afghanistan  1973          South Asia        0            5
1      Afghanistan  1979          South Asia        1            2
2      Afghanistan  1979          South Asia        1            8
3      Afghanistan  1979          South Asia        1            9
4      Afghanistan  1987          South Asia        1            5
5      Afghanistan  1988          South Asia        1            3
6      Afghanistan  1988          South Asia        1            4
7      Afghanistan  1988          South Asia        1            5
8      Afghanistan  1988          South Asia        1            7
9      Afghanistan  1988          South Asia        1            8
10     Afghanistan  1988          South Asia        1            9
11     Afghanistan  1988          South Asia        1           10
12     Afghanistan  1988          South Asia        1           11
13     Afghanistan  1989          South Asia        0            4
14     Afghanistan  1989          South Asia        0            6
15     Afghanistan  1989          South Asia        0            7
16     Afghanistan  1989          South Asia        1            1
17     Afghanistan  1989          South Asia        1            2
18     Afghanistan  1989          South Asia        1            7
19     Afghanistan  1989          South Asia        1            8
20     Afghanistan  1989          South Asia        1           12
21     Afghanistan  1990          South Asia        1            1
22     Afghanistan  1990          South Asia        1           10
23     Afghanistan  1991          South Asia        1            1
24     Afghanistan  1991          South Asia        1            4
25     Afghanistan  1991          South Asia        1            6
26     Afghanistan  1991          South Asia        1            7
27     Afghanistan  1991          South Asia        1            8
28     Afghanistan  1991          South Asia        1            9
29     Afghanistan  1991          South Asia        1           11
...            ...   ...                 ...      ...          ...
22676     Zimbabwe  1990  Sub-Saharan Africa        0            4
22677     Zimbabwe  1990  Sub-Saharan Africa        1            1
22678     Zimbabwe  1990  Sub-Saharan Africa        1            3
22679     Zimbabwe  1990  Sub-Saharan Africa        1            4
22680     Zimbabwe  1991  Sub-Saharan Africa        1            7
22681     Zimbabwe  1992  Sub-Saharan Africa        1            5
22682     Zimbabwe  1994  Sub-Saharan Africa        1            6
22683     Zimbabwe  1995  Sub-Saharan Africa        0           10
22684     Zimbabwe  1995  Sub-Saharan Africa        0           11
22685     Zimbabwe  2000  Sub-Saharan Africa        1            6
22686     Zimbabwe  2001  Sub-Saharan Africa        1            1
22687     Zimbabwe  2001  Sub-Saharan Africa        1            3
22688     Zimbabwe  2001  Sub-Saharan Africa        1            6
22689     Zimbabwe  2002  Sub-Saharan Africa        1            2
22690     Zimbabwe  2002  Sub-Saharan Africa        1            5
22691     Zimbabwe  2002  Sub-Saharan Africa        1            6
22692     Zimbabwe  2002  Sub-Saharan Africa        1            8
22693     Zimbabwe  2003  Sub-Saharan Africa        1            1
22694     Zimbabwe  2006  Sub-Saharan Africa        1            7
22695     Zimbabwe  2007  Sub-Saharan Africa        1            3
22696     Zimbabwe  2008  Sub-Saharan Africa        1            6
22697     Zimbabwe  2008  Sub-Saharan Africa        1            7
22698     Zimbabwe  2008  Sub-Saharan Africa        1            8
22699     Zimbabwe  2008  Sub-Saharan Africa        1           11
22700     Zimbabwe  2010  Sub-Saharan Africa        1           10
22701     Zimbabwe  2011  Sub-Saharan Africa        1            6
22702     Zimbabwe  2013  Sub-Saharan Africa        1            2
22703     Zimbabwe  2013  Sub-Saharan Africa        1            3
22704     Zimbabwe  2013  Sub-Saharan Africa        1           12
22705     Zimbabwe  2014  Sub-Saharan Africa        1            2

[22706 rows x 5 columns]

In [61]:
# 0=nationality, 1=year, 2=region, 3=success, 4=count
last_row = 0


columns = ['country','year','region','success_rate','num_attacks']
df_success_pct = pd.DataFrame(columns=[columns])

for x in range(len(df_successrate)-1):
    row = df_successrate.loc[x,:]
    next_row = df_successrate.loc[x+1,:]
    if x > 0:
        last_row = df_successrate.loc[x-1,:]
    
    if x == 0:
        current_df = pd.DataFrame([[row[0],row[1],row[2],row[3],row[4]]],columns=columns)
        df_success_pct = df_success_pct.append(current_df,ignore_index=True) 
        
    elif row[1] == next_row[1]:
        num_attacks = row[4]+next_row[4]
        success_rate = next_row[4]/num_attacks
        current_df = pd.DataFrame([[row[0],row[1],row[2],success_rate,num_attacks]],columns=columns)
        df_success_pct = df_success_pct.append(current_df, ignore_index=True)
        
    elif row[1] == last_row[1]:
        True
    else:
        current_df = pd.DataFrame([[row[0],row[1],row[2],row[3],row[4]]],columns=columns)
        df_success_pct = df_success_pct.append(current_df, ignore_index=True)

In [62]:
df_success_pct.to_csv('Saved Dataframes/Success Rates no GDP.csv')

In [57]:
merged_successrate = pd.merge(df_success_pct,gdp_df,on=['country','year'])
merged_successrate = merged_successrate[merged_successrate['gdp_value'] > 0]
merged_successrate

,country,year,region,success_rate,num_attacks,country_code,gdp_value
0,Afghanistan,1973,South Asia,0,5,AF,1.733333e+09
1,Afghanistan,1979,South Asia,0.8,10,AF,3.697940e+09
2,Afghanistan,1979,South Asia,0.529412,17,AF,3.697940e+09
64,Afghanistan,2001,South Asia,0.666667,3,AF,2.461666e+09
65,Afghanistan,2001,South Asia,0.6,5,AF,2.461666e+09
66,Afghanistan,2001,South Asia,0.625,8,AF,2.461666e+09
67,Afghanistan,2001,South Asia,0.615385,13,AF,2.461666e+09
68,Afghanistan,2001,South Asia,0.529412,17,AF,2.461666e+09
69,Afghanistan,2001,South Asia,0.571429,21,AF,2.461666e+09
70,Afghanistan,2002,South Asia,0.555556,9,AF,4.128821e+09
71,Afghanistan,2002,South Asia,0.615385,13,AF,4.128821e+09
72,Afghanistan,2002,South Asia,0.529412,17,AF,4.128821e+09
73,Afghanistan,2002,South Asia,0.526316,19,AF,4.128821e+09
74,Afghanistan,2002,South Asia,0.0909091,11,AF,4.128821e+09
75,Afghanistan,2002,South Asia,0.8,5,AF,4.128821e+09
76,Afghanistan,2002,South Asia,0.555556,9,AF,4.128821e+09
77,Afghanistan,2002,South Asia,0.545455,11,AF,4.128821e+09
78,Afghanistan,2002,South Asia,0.538462,13,AF,4.128821e+09
79,Afghanistan,2002,South Asia,0.533333,15,AF,4.128821e+09
80,Afghanistan,2002,South Asia,0.529412,17,AF,4.128821e+09
81,Afghanistan,2002,South Asia,0.55,20,AF,4.128821e+09
82,Afghanistan,2002,South Asia,0.521739,23,AF,4.128821e+09
83,Afghanistan,2003,South Asia,0.6,5,AF,4.583644e+09
84,Afghanistan,2003,South Asia,0.625,8,AF,4.583644e+09
85,Afghanistan,2003,South Asia,0.545455,11,AF,4.583644e+09
86,Afghanistan,2003,South Asia,0.6,15,AF,4.583644e+09
87,Afghanistan,2003,South Asia,0.1,10,AF,4.583644e+09
88,Afghanistan,2003,South Asia,0.666667,3,AF,4.583644e+09
89,Afghanistan,2003,South Asia,0.6,5,AF,4.583644e+09
90,Afghanistan,2003,South Asia,0.571429,7,AF,4.583644e+09
...,...,...,...,...,...,...,...
17066,Zimbabwe,1985,Sub-Saharan Africa,1,2,ZW,5.637259e+09
17067,Zimbabwe,1986,Sub-Saharan Africa,1,1,ZW,6.217524e+09
17068,Zimbabwe,1987,Sub-Saharan Africa,0.545455,11,ZW,6.741215e+09
17069,Zimbabwe,1987,Sub-Saharan Africa,0.625,16,ZW,6.741215e+09
17070,Zimbabwe,1987,Sub-Saharan Africa,0.52381,21,ZW,6.741215e+09
17071,Zimbabwe,1988,Sub-Saharan Africa,1,1,ZW,7.814784e+09
17072,Zimbabwe,1989,Sub-Saharan Africa,0.875,8,ZW,8.286323e+09
17073,Zimbabwe,1990,Sub-Saharan Africa,0.2,5,ZW,8.783817e+09
17074,Zimbabwe,1990,Sub-Saharan Africa,0.75,4,ZW,8.783817e+09
17075,Zimbabwe,1990,Sub-Saharan Africa,0.571429,7,ZW,8.783817e+09
17076,Zimbabwe,1991,Sub-Saharan Africa,1,7,ZW,8.641482e+09
17077,Zimbabwe,1992,Sub-Saharan Africa,1,5,ZW,6.751472e+09
17078,Zimbabwe,1994,Sub-Saharan Africa,1,6,ZW,6.890675e+09
17079,Zimbabwe,1995,Sub-Saharan Africa,0.52381,21,ZW,7.111271e+09
17080,Zimbabwe,2000,Sub-Saharan Africa,1,6,ZW,6.689958e+09
17081,Zimbabwe,2001,Sub-Saharan Africa,0.75,4,ZW,6.777385e+09
17082,Zimbabwe,2001,Sub-Saharan Africa,0.666667,9,ZW,6.777385e+09
17083,Zimbabwe,2002,Sub-Saharan Africa,0.714286,7,ZW,6.342116e+09
17084,Zimbabwe,2002,Sub-Saharan Africa,0.545455,11,ZW,6.342116e+09
17085,Zimbabwe,2002,Sub-Saharan Africa,0.571429,14,ZW,6.342116e+09
17086,Zimbabwe,2003,Sub-Saharan Africa,1,1,ZW,5.727592e+09
17087,Zimbabwe,2006,Sub-Saharan Africa,1,7,ZW,5.443896e+09
17088,Zimbabwe,2007,Sub-Saharan Africa,1,3,ZW,5.291950e+09
17089,Zimbabwe,2008,Sub-Saharan Africa,0.538462,13,ZW,4.415703e+09
17090,Zimbabwe,2008,Sub-Saharan Africa,0.533333,15,ZW,4.415703e+09
17091,Zimbabwe,2008,Sub-Saharan Africa,0.578947,19,ZW,4.415703e+09
17092,Zimbabwe,2010,Sub-Saharan Africa,1,10,ZW,1.014186e+10
17093,Zimbabwe,2011,Sub-Saharan Africa,1,6,ZW,1.209845e+10
17094,Zimbabwe,2013,Sub-Saharan Africa,0.6,5,ZW,1.545177e+10
17095,Zimbabwe,2013,Sub-Saharan Africa,0.8,15,ZW,1.545177e+10

In [60]:
merged_successrate.to_csv('Saved Dataframes/Success Rates by Country by Year.csv')